<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Einvoice_Chevron.My.MySettings.SSIRentConnectionString"
            connectionString="Data Source=SSISQL;Initial Catalog=SSIRENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="Einvoice_Chevron.My.MySettings.SSIRentTestConnectionString"
            connectionString="Data Source=SSISQL;Initial Catalog=SSIRENT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>