<?xml version="1.0"?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="Einvoice_Chevron.My.MySettings.RentTestConnectionString"
   connectionString="Data Source=SSI-SQL;Initial Catalog=SSIRent;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="EInvoice_Chevron.Properties.Settings.SSIRentConnectionString"
   connectionString="Data Source=SSI-SQL;Initial Catalog=SSIRent;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="EInvoice_Chevron.Properties.Settings.RentTestConnectionString"
   connectionString="Data Source=SSI-SQL;Initial Catalog=&quot;Rent Test&quot;;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
